@charset "utf-8";
:root {
    --base-text-dark: #333;
    --base-text-white: #fff;
    --base-text-point: rgb(179, 39, 39);
    --base-bg-white: #fff;
    --base-bg-dark: #333;
    --main-color1: #014EA0;
    --main-color2: #F6B11C;
    --main-color3: #92C120;
    --base-font-size: 16px;
    --bar-bg: #F6B11C;
}

body {
    font: 16px/1.5 "Noto Sans KR";
}
a, a:link {
    text-decoration: none;
    color: inherit;
}
.text-center {
    text-align: center;
}
.d-none {
    display: none;
}

section {
    margin: 0 1rem;
}

@media screen and (max-width: 480px){
    html {
        height: 100vh; /*또는 100%*/
    }
    body {
        background: linear-gradient(to bottom, #fff, #e5f1ff)
    }
    .header-top{
        background: var(--bar-bg);
        height: 50px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    .top-wrap{
        height: 50px;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        padding: 0 5%;
        align-items: center;
        color: var(--base-text-white);

    }
    .top-wrap > li {
        height: 30px;
        color: var(--base-text-white);
        font-size: 16px;
    }
    .logo {
        width: 330px;
        height: 219px;
        margin: 100px auto;
        
    }
    .btns {
        display: flex;
        flex-direction: column; /*상,하 배치*/
    }
    button {
        height: 75px;
        width: 360px;
        color: white;
        font-size: 20px;
        border: 0;
        border-radius: 50px;
        margin: 20px auto;
    }
    #make_num5{
        background: var(--main-color1) url("../images/x5.png") no-repeat 6% center;
    }
    #make_num1{
        background: var(--main-color1) url("../images/x1.png") no-repeat 6% center;
    }
    footer {
        width: 100%;
        position: fixed;
        height: 40px;
        bottom: 0;
        left: 0;
    }
    .links {
        display: flex;
        padding: 0 2vw;
        box-sizing: border-box;
        justify-content: space-between;
    }

    /* --------side pannel--------- */
    /* .header-wrap 높이 50px : 로고, 버거단추 있는 곳 */
    #sidePannel {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 9999;
        top: 50px; /* top에서 반대방향으로 50px 이동 */
        left: 0;
        background: rgba(0, 0, 0, .5);
    }
    #closeSide {
        background: var(--point-color, #B86D00); /* 대체컬러 */
        color: var(--base-text-white);
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        position: absolute;
        right: 0;
        top: -50px;
    }
    .pannel-overlay nav {
        color: var(--base-text-white);
        padding: 10%;
    }
    #snb > li > a { /* 메뉴항목이 포함된 범위 전체 클릭 가능 */
        display: block;
    }
    .icon-links {
        display: flex;
        justify-content: center;
        column-gap: .5rem;
    }
    #snb > li {
        margin: 1rem 0;
        position: relative;
    }
    #snb > li::after {
        content: "+";
        display: inline;
        position: absolute;
        top: 0;
        right: 0;
        color: white;
        font-size: 14px;
        margin-right: 5%;
    }
    .pannel-overlay {
        background: #262626;
        width: 50%;
        height: 100%;
        margin: 0 0 0 50%;
        overflow: hidden;
    }

    /* --------mobile section--------- */
    .section-title {
        text-align: center;
        font-size: 1.250rem;
        margin-bottom: 30px;
    }
    .logo-2{
        width: 254px;
        height: 168px;
        margin: 80px auto 50px;
    }

    /* --------mobile section : login page--------- */
    #loginForm li, #registerForm li {
        position: relative;
        margin: 0 0 1rem 0;
    }
    #loginForm li input, #registerForm li input{
        text-indent: 20%;
    }
    #loginForm li label, #registerForm li label {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        color: #898989;

    }
    #userId, #userPw, [type=submit], #registerForm [type=submit] {
        width: 100%;
        height: 50px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
        border: 0;
    }
    [type=submit] {
        background: var(--main-color1);
        color: var(--base-text-white);
        text-indent: 0 !important /* important 많은 사용 권장은 X */
    }
    .sns-icons {
        display: flex;
        justify-content: center;
        column-gap: 20px;
        font-size: 3rem;
    }
    /* --------mobile section : register page--------- */
    #registerForm li #userSecurity {
        width: 69%;
        height: 50px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
        border: 0;
        text-indent: 33%;
    }
    label[for-userPrivacy] {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
    }
    #registerForm li #clickSecurity {
        display: inline-block;
        line-height: 53px;
        border-radius: 10px;
        height: 53px;
        width:  27%;
        margin: 0 0 0 1%;
        color: var(--base-text-white);
        background: var(--main-color3);
        vertical-align: middle;
    }
    .warn {
        color: var(--base-text-point);
        position: absolute;
        right: 0;
    }
    #joinBTN {
        margin: 2% 0;
    }
    #cancelBTN {
        background: #898989;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
        border: 0;
        color: var(--base-text-white);
        text-indent: 0 !important
    }

    /* --------mobile section : customer page--------- */
    .icon-list {
        display: grid;
        margin: 1.5rem 1rem;
        grid-template-columns: 1fr 1fr 1fr;
        /* fraction : 비율(공간) */
        gap: 1rem;
    }
    .icon-list li {
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, .3);
        min-height: 110px;
        border-radius: 10px;
        /* transition: all ease-in-out (); */
    }
    .icon-list li:hover {
        background: var(--main-color1);
        color: var(--base-text-white);
        transform: scale(1.1);
    }
    .icon-list li a {
        display: flex;
        height: 100%;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

}